# Backend Environment Variables

# Server
DASHBOARD_API_PORT=8502

# Services Endpoints
PROMETHEUS_URL=http://localhost:9090
CONSENSUS_URL=http://localhost:8005
TOUCHE_URL=http://localhost:8001
FUNDAMENTAL_URL=http://localhost:8002
QUANTUM_URL=http://localhost:8003
SENTINEL_URL=http://localhost:8004
NEWS_URL=http://localhost:8006

# Docker Compose
# PROMETHEUS_URL=http://prometheus:9090
# CONSENSUS_URL=http://consensus-api:8005
# TOUCHE_URL=http://touche-api:8001
# FUNDAMENTAL_URL=http://fundamental-api:8002
# QUANTUM_URL=http://quantum-api:8003
# SENTINEL_URL=http://sentinel-api:8004
# NEWS_URL=http://news-ai-limited:8006
